lib-cov
coverage
*.lcov
dist
.cache/
.serverless/
node_modules
.tmp
testcases
.mypy_cache
output
# npmdata:start
.npmdata
.xdrs/_core/adrs/index.md
.xdrs/_core/adrs/principles/001-xdr-standards.md
.xdrs/_core/adrs/principles/003-skill-standards.md
.xdrs/_core/adrs/principles/skills/001-lint/SKILL.md
.xdrs/index.md
AGENTS.md
# npmdata:end
